.login
  .cont
    %h1 Придумайте пароль
    .login-section
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        = f.hidden_field :reset_password_token
        .login-section-input
          %label Новый пароль
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          = f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control'
        .login-section-input
          %label Подтвердите новый пароль
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
        = f.submit "Ок"
    = render partial: 'devise/shared/links'
