- models = place.machines.pluck(:model).uniq
.place-stats
  .stat
    .sq.suc
    %span.value
      = place.success_count
    %span
      %ul
        - models.each do |m|
          - model_count = place.machines.where(model: m).joins(:stat).where("stats.success = ? AND stats.active = ?", true, true).count
          - if model_count > 0
            %li
              #{m} - #{model_count}
  .stat
    .sq.warn
    %span.value
      = place.warning_count
    %span
      %ul
        - models.each do |m|
          - model_count = place.machines.where(model: m).joins(:stat).where("stats.success = ? AND stats.active = ?", false, true).count
          - if model_count > 0
            %li
              #{m} - #{model_count}
  .stat
    .sq.err
    %span.value
      = place.error_count
    %span
      %ul
        - models.each do |m|
          - model_count = place.machines.where(model: m).joins(:stat).where("stats.active = ?", false).count
          - if model_count > 0
            %li
              #{m} - #{model_count}
