.login
  .cont
    %h1 Вход
    = render partial: 'devise/shared/alerts'
    .login-section
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login-section-input
          %label email
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
        .login-section-input
          %label пароль
          = f.password_field :password, autocomplete: "off", class: 'form-control'
        - if devise_mapping.rememberable?
          .login-section-check
            = f.check_box :remember_me
            = f.label :remember_me, "Запомнить меня"
        = f.submit "Войти"
        = render partial: 'devise/shared/links'

-# .app-login
-#   %h2 Вход
-#
-#   = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
-#     .field.form-group
-#       %label email
-#       %br/
-#       = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
-#     .field.form-group
-#       %label пароль
-#       %br/
-#       = f.password_field :password, autocomplete: "off", class: 'form-control'
-#     - if devise_mapping.rememberable?
-#       .field.form-group
-#         = f.check_box :remember_me
-#         = f.label :remember_me, "запомнить меня"
-#     .actions
-#       = f.submit "Войти", class: 'btn btn-success'
-#   = render partial: 'devise/shared/links'
